.*
*~
!/.github
!/.gitignore
*.exe
*.tar.gz
*.zip
*.obj
*.lib
*.o
*.pc
*.dSYM
/pseudosquares_prime_sieve*
/tests*
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
/build*
